default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: foto
  password: 2010872403lty
  pool: 5

development:
  <<: *default
  database: foto_development

production:
  <<: *default
  database: foto_production

test:
  <<: *default
  database: foto_test
