h1 Вы запросили сброс пароля: #{@user.user_name} #{@user.surname}

p = 'Для сброса пройдите по ссылке'
p = link_to 'Сбросить пароль', edit_reset_url(@user.reset_password, email: @user.email)
p = 'Ссылка действительна в течении двух часов'