.alert {
  text-align: center;
  font-size: 26px;
  color: #ab1c1c;
  font-weight: bold;
}
.error{
  text-align: center;
  margin: 60px;
  font-size: 20px;
  color: #ab1c1c;
}
#error_explanation li{
  color: #e83f3f;
  font-weight: bold;
}